<% include partials/header %>

<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
</style>
<div class="container">


<div class="container" >

    <div class="row">
        <div class="col-md-2" style="padding-top:100px; margin:0 auto; ">


     <div style="position: fixed; " >

       <p class="lead" style="background:; "><i class="angle double right icon"></i>Feeds.. </p>
       <div class="ui link list"  >
       <h4><div class="item" ><a href="/">Top Stories</a></div></h4>

       <a class="item" href="/blogs?link=Sports"><i class="table tennis icon"></i> Sports</a>
       <a class="item" href="/blogs?link=Education"><i class="book icon"></i>  Education</a>
       <a class="item" href="/blogs?link=Music"><i class="music icon"></i>  Music</a>
       <a class="item" href="/blogs?link=Design"><i class="paint brush icon"></i>  Design</a>
       <a class="item" href="/blogs?link=Fitness"><i class="universal access icon"></i>  Fitness</a>
         <a class="item" href="/blogs?link=Writing"><i class="pencil alternate icon"></i>  Writing</a>
           <a class="item" href="/blogs?link=Bollywood"><i class="film icon"></i>  Bollywood</a>
             <a class="item" href="/blogs?link=Songs"><i class="microphone icon"></i>  Songs</a>
               <a class="item" href="/blogs?link=Movies"><i class="video icon"></i>  Movies</a>
       </div>
     </div>



</div>



<div class="col-md-8">
<div style="padding-top:100px;margin:0 auto;">

<div class="ui container segment" style="background:;">

  <% if(!currentUser){ %>
           <p><i class="user icon"></i>  New User</p>
            <% } else { %>
                <a href="/blogs/person" class="item"><i class="user circle icon"></i>  <%= currentUser.username %></a>
              <% } %>
            <h2 id="myBtn"> What's your Query??</h2>
  </div>



  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        Questions
      </div>
      <div class="modal-body">


        <div style="">

        <div class="ui main text  ">



        <form class="ui form" action="/blogs" method="post">
          <div class="field">
            <label>Start typing..</label>
            <input name="blog[title]" placeholder="Write your Query " type="text">
          </div>
          <div class="field">
            <label>Image Url (optional)</label>
            <input name="blog[image]" placeholder="Image Url (optional)" type="text">
          </div>
          <div class="field">
          <textarea name="blog[body]" placeholder="description" type="text"></textarea>
          </div>
          <div class="field">
            <select class="ui dropdown" name="blog[cat]">
          <option value="">Select Category</option>
          <option value="Education">Education</option>
          <option value="Sports">Sports</option>
            <option value="Movies">Movies</option>
              <option value="Design">Design</option>
                <option value="Fitness">Fitness</option>
                  <option value="Writing">Writing</option>
                    <option value="Songs">Songs</option>
                      <option value="Bollywood">Bollywood</option>
                        <option value="Music">Music</option>
        </select>
          </div>
          <button class="ui button" type="Submit!" >Submit</button>

        </form>
        </div>
        </div>
        </div>

      <div class="modal-footer">
        <button class="ui button" ><a href="/blogs">Go back</a></button>
      </div>
    </div>
</div>
  </div>

  <script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>


<% blogs.forEach(function(blog){ %>
<div class="ui container segment" style="background:;">
  <div class="ui unstackable items" style="background:;">
    <div class="item">

      <div class="content">
        <p style="color:#a2a6ad;">Question added  :  <a href="#"><%=blog.cat%></a></p>
        <a class="header"><%=blog.title%></a>
       <div class="pull-right">
      <a href="#"><h2><i class="user plus icon"></i></h2></a>
       </div>
      <p>  <a href="/blogs/author/<%=blog._id%>"><i class="user icon"></i> <%= blog.author.username %></a></p>
        <div class="meta">
          <span><%=blog.created.toDateString()%></span>
        </div>
        <div class="pull-right">


         <p>Share on-<button class="ui circular facebook icon button">
        <i class="facebook icon"></i>
      </button>
      <button class="ui circular twitter icon button">
        <i class="twitter icon"></i>
      </button>
      <button class="ui circular linkedin icon button">
        <i class="linkedin icon"></i>
      </button>
      <button class="ui circular google plus icon button">
        <i class="google plus icon"></i>
      </button></p>
      </div>
       <a class="ui black basic button" href="/blogs/<%=blog._id %>">Answer   <i class="pencil alternate icon"></i> 8</a>
       <a class="ui black basic button" href="/blogs/<%=blog._id %>">Follow   <i class="rss icon"></i>  56</a>
       <hr>
       <a href="#">More on this..  <i class="angle down icon"></i></a>
      </div>

    </div>

 </div>
  </div>
<% }) %>
</div>


  </div>
    </div>
      </div>





<% include partials/footer %>
