<% include partials/header %>
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: ;
    color: ;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
</style>

<div class="container">
    <div class="row">
        <div class="col-md-3" style="padding-top:100px;margin:0 auto;">

            <div class="list-group" style="position:fixed;">
              <p class="lead">Related Queries.. </p>

                <li class="list-group-item "><a href="#">question 1</a></li>
                <li class="list-group-item "><a href="#">question 2</a></li>
                <li class="list-group-item "><a href="#">question 3</a></li>
                <li class="list-group-item "><a href="#">question 4</a></li>
                <li class="list-group-item "><a href="#">question 5</a></li>
                <li class="list-group-item "><a href="#">question 6</a></li>
                <li class="list-group-item "><a href="#">question 7</a></li>
                <li class="list-group-item "><a href="#">question 8</a></li>
                <li class="list-group-item "><a href="#">question 9</a></li>
                <li class="list-group-item "><a href="#">question 10</a></li>

            </div>
        </div>
        <div class="col-md-6">
<div style="padding-top:100px;margin:0 auto;">
<div class="ui main text container segment">
  <div class="ui huge header"><%=blog.title%></div>
    <p><a href="/blogs/author/<%=blog._id%>"><img class="ui mini circular image" src="https://files.myglamm.com/images/static/no_user_yellow.png"><%= blog.author.username %></a></p>
  <div class="ui attached ">
    <div class="item">
      <img class="ui centered rounded image" src="<%=blog.image%>">
      <div class="content">
        <span><%=blog.created.toDateString() %></span>
      </div>
      <div class="description">
        <p><%-blog.body%></p>


      </div>
    </div>
  </div>
  <div class="pull-right">
<div class="ui compact menu" style="margin:4px;">
   <div class="ui simple dropdown item">
   ...
   <i class="dropdown icon"></i>
   <div class="menu">
     <form  class="ui form" action="/blogs/<%=blog._id%>/edit" method="post">
       <a  class="ui  basic button" href="/blogs/<%=blog._id%>/edit">Edit</a>
     </form>
     <form class="ui form" action="/blogs/<%=blog._id%>?_method=DELETE" method="post">
       <button class="ui  basic button">Delete</button>
     </form>
  </div>
   </div>
  </div>
   </div>
   <hr>
  <div class="pull-right">


   <p>Share on-<button class="ui circular facebook icon button">
  <i class="facebook icon"></i>
</button>
<button class="ui circular twitter icon button">
  <i class="twitter icon"></i>
</button>
<button class="ui circular linkedin icon button">
  <i class="linkedin icon"></i>
</button>
<button class="ui circular google plus icon button">
  <i class="google plus icon"></i>
</button></p>
</div>
<button class="ui left attached button">UpVote <i class="arrow alternate circle up icon"></i></button>
<button class="right attached ui button">DownVote <i class="arrow alternate circle down icon"></i></button>





</div>
</div>

<div style="padding-top:50px;margin:0 auto;">
<div class="ui main text container segment">
  <div class="ui huge header">Answers By-</div>
  <div class="ui attached ">

    <div class="well">
             <div class="text-right">
                 <a class="btn btn-success" id="myBtn">Add your answer</a>
             </div>
             <hr style ="height: 12px;border: 0;box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);">



<!-- Modal ADD Answer -->
                       <!-- The Modal -->
                       <div id="myModal" class="modal">

                         <!-- Modal content -->
                         <div class="modal-dialog modal-dialog-centered">
                         <div class="modal-content">
                           <div class="modal-header">
                             <span class="close">&times;</span>
                           <h3 style="text-align:center;padding:0px 0px 3px 0px;">Add your answer!!</h3>

                           </div>
                           <div class="modal-body">

                                     <div style=" ">
                                       <div class="ui main text ">

                                       <h2 style="text-align: center"><%= blog.title %>??</h2>
                                         <p>by-<%= blog.author.username %></p>
                                         <form action="/blogs/<%= blog._id %>" method="POST">
                                             <div class="form-group">
                                                 <input class="form-control" type="text" name="comment[text]" placeholder="text">
                                             </div>
                                             <div class="form-group">
                                                 <button class="btn btn-primary btn-block">Submit!</button>
                                             </div>
                                         </form>

                                     </div>
                                 </div>
                             </div>



                             </div>


                         </div>
                       </div>


                       <script>
                     // Get the modal
                     var modal = document.getElementById('myModal');

                     // Get the button that opens the modal
                     var btn = document.getElementById("myBtn");

                     // Get the <span> element that closes the modal
                     var span = document.getElementsByClassName("close")[0];

                     // When the user clicks the button, open the modal
                     btn.onclick = function() {
                         modal.style.display = "block";
                     }

                     // When the user clicks on <span> (x), close the modal
                     span.onclick = function() {
                         modal.style.display = "none";
                     }

                     // When the user clicks anywhere outside of the modal, close it
                     window.onclick = function(event) {
                         if (event.target == modal) {
                             modal.style.display = "none";
                         }
                     }
                     </script>




<% blog.comments.forEach(function(comment){ %>

<div class="pull-right">



                         <div class="ui compact menu" style="margin:4px;">
                          <div class="ui simple dropdown item">

                          <i class="dropdown icon"></i>
                          <div class="menu">
                          <div class="item">Edit</div>
                          <div class="item">Delete</div>

                             </div>
                          </div>
                         </div>
                          </div>
                           <span class="pull-right"><%= comment.created.toDateString() %></span>
                         <strong><img class="ui mini circular image" src="https://images-na.ssl-images-amazon.com/images/M/MV5BZDk1ZmU0NGYtMzQ2Yi00N2NjLTkyNWEtZWE2NTU4NTJiZGUzXkEyXkFqcGdeQXVyMTExNDQ2MTI@._V1_UY317_CR4,0,214,317_AL_.jpg"><%= comment.author.username %></strong>

                         <p>
                          <%= comment.text %>
                         </p>

                         <a  class="ui orange basic button" href="/#">223__<i class="smile icon"></i></a>
                           <a  class="ui orange basic button" href="/#">23__<i class="meh icon"></i></i></a>
                         <a  class="ui orange basic button" href="/#">10__<i class="frown icon"></i></a>

                         <div class="ui action input">
                           <form method="post" action="/blogs/ans/<%= comment.id %>">
                             <input type="text" name="text" value="" placeholder="Add Reply...">
                             <button class="ui teal right labeled icon button">
                             <i class="reply icon"></i>
                             ..
                             </button>
                             </div>
                             <hr style ="height: 12px; border: 0;box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);">
</form>

    <% }) %>


                          <hr>


                     </div>

                 </div>




         </div>

  </div>




</div>
</div>

</div>

<% include partials/footer %>
